<div class="col-sm-12 friend-tile">

  <i class="delete-button material-icons" data-toggle="collapse" data-target="#delete-friend-<%=friend.id%>">cancel</i>

  <img class="avatar-icon pull-left" src="http://ddragon.leagueoflegends.com/cdn/6.10.1/img/profileicon/<%=friend.summoner_icon_id%>.png"></img>

  <div class="categories col-sm-2">
    <div><b class="name"><%=friend.summoner_name%></b></div>
    <div><b>Tier:</b> <div class="tier-icon" id="<%=friend.tier%><%=friend.division%>" style="display: inline-block; vertical-align: middle;" title="<%=friend.tier%> <%=friend.division%>"></div></div>
    <div><b>ID#:</b> <%=friend.summoner_id%></div>
    <div><b>Level:</b> <%=friend.summoner_level%></div>
    <div><b>Revision Date:</b> <%=friend.revision_date%></div>

    <br>

    <div class="delete-friend-backdrop collapse" id="delete-friend-<%=friend.id%>">
      <div class="delete-friend-container">
        <div class="delete-friend-content">
          Are you sure you want to delete your friend?
          <br>
        </div>
        <button class="btn btn-danger" onclick="deleteFriend('<%=friend.id%>')">Yes</button>
        <button class="btn btn-info" data-toggle="collapse" data-target="#delete-friend-<%=friend.id%>">No</button>
      </div>
    </div>

  </div>

  <div class="last-game col-sm-8">
    <div class="submit-wrapper pull-left">
        <a onclick="return getLastGame('<%=friend.id%>', '<%=friend.summoner_id%>')">Find Last Match</a>
    </div>
    <%= render '/friends/game', :friend => friend %>
  </div>

</div>
